.preamble {
  color: #ffffff;
  background-color: transparent;
  position: fixed;
  width: 100%; }
  .preamble .p-container {
    padding: 0.4rem 4rem 0rem 1rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between; }
    .preamble .p-container img {
      height: 3.5rem; }
    .preamble .p-container div {
      font-size: 1.2rem; }
    .preamble .p-container .h-left {
      order: 1; }
    .preamble .p-container .h-center {
      order: 2;
      flex: 2 0px; }
      .preamble .p-container .h-center div {
        text-align: center;
        margin-top: 2.5%; }
    .preamble .p-container .h-right {
      order: 3; }

a[rel=license] {
  font-weight: bold; }

div.postamble {
  color: white;
  position: fixed;
  bottom: 1em;
  left: 1em;
  font-size: 0.8em;
  font-family: sans-serif; }
  div.postamble a {
    color: white; }
  div.postamble img {
    color: white;
    margin-right: 1em;
    height: 2em; }

/*# sourceMappingURL=preamble-postamble.css.map */
