
body * {
  //font-family: "Source Sans Pro", sans-serif !important;
}

.reveal {
  h1 {
    font-size: 3em;
  }
  img.image_full {
    width: 60%;
  }
  img.image_full2 {
    width: 40%;
  }
  img[alt="alonzo.png"] {
    margin-bottom: -2.5em;
  }
  p {
    text-align: justify;
  }
  #sec-title-slide {
    .title {
      //font-size: 200%;
    }
    .author {
      font-size: 130%;
    }
    .date {
      font-size: 100%;
    }
    p.date {
      text-align: center;
      font-size: 80%;
    }

  }
  * {
    font-family: "Source Sans Pro", sans-serif !important;
  }

  code {
    padding: 0em 0.1em;
    font-family: "Source Code Pro", monospace !important;
    font-size: 0.9em;
  }

  .org-src-container {
    //font-size: 1.2em;
    //margin: 0em -10% 0em -10%;
    //max-width: calc(100% - 40%);
    //border: 1px solid #ffffff;

    pre, code {
      box-shadow: none;
      font-size: 1.4rem;
      font-family: "Source Code Pro", monospace !important;
      //margin: 0.2rem;
      //width: 99%;
      //font-size: 0.55em;
    }
    pre {
      width: 100%;
    }
  }

}

.hljs {
  background: #111111 !important;
}
